* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* 
==========
Navbar
==========

*/
.navigation {
  padding: 30px 50px;
}
.nav-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  place-items: center;
}
.logo {
  width: 108px;
  height: 26px;
}
/* hide navbar and button at 990px */
.navbar {
}
.nav-item {
  color: black;
  margin: 1rem;
}
.btn {
  font-size: 2rem;
  background: black;
  color: white;
  cursor: pointer;
}

/* 
==========
Hero Section
==========

*/

.hero-img-container {
  position: relative;
  display: flex;
  height: 100%;
  margin: 0 5rem;
  margin-bottom: 5rem;
  justify-content: center;
}
.hero-text {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-img {
  object-fit: cover;
  width: 100%;
}

/* PAGE CONTENT */
.moto-container {
  text-align: center;
}
/* 
==========
About Section
==========

*/
.content-container {
  max-width: 1140px;
  text-align: center;
  margin: auto auto;
}
.about-grid {
  width: 100%;
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 2fr;
}
.about-text-container {
  margin: 2rem;
}
.about-img-container {
  width: 100%;
  margin: 0 1rem;
}
.about-img {
  width: 100%;
}

.team-grid {
  width: 100%;
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 2fr 1fr;
}
/* 
==========
Company News Section
==========
*/
.section-heading {
  text-align: center;
}
.company-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 2rem 0;
  gap: 2rem;
}
/* 
==========
Footer 
==========
*/
.footer-container {
  width: 100%;
  text-align: center;
  background: #f4f4f4;
  margin: 2rem 0;
  padding: 3rem 0;
}
/* 
==========
About page 
==========
*/

.about-hero-container {
  position: relative;
  height: 789.078px;
  width: 1743px;
  width: 100%;
  /* height: 100%; */
  display: flex;

  margin: auto auto;
  /* margin-bottom: 5rem; */
  justify-content: center;
  background: black;
}
.about-hero-text {
  font-size: 2rem;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
